.Rating {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  font-size: calc(20px + 2vmin);
}

.Name{
  margin-top: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: calc(20px + 2vmin);
}

.Header{
  text-align: center;
  font-size: calc(40px + 2vmin);
  font-weight: 700;
  margin-top: 200px;
  margin-bottom: 30px;
  color: white;
};


.EnterText{
  text-align: center;
  font-size: calc(20px + 2vmin);
  color: white;
  background-color: white;
}

.RatingContainer{
  background-color: rgb(248, 142, 186);
  border-radius: 25px;
  width: 50%;
  margin: auto;
  box-shadow: 6px 0px 0px rgb(132, 239, 243)
}

/* .WTFButton{
  margin:0 auto;
  display:block;
  font-size: calc(25px + 2vmin);
  font-family: 'Miriam Libre', sans-serif;
  background: -webkit-linear-gradient(rgb(0, 255, 149), rgb(0, 247, 255));
  font-weight: 600;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

} */

/* .rectangle {
  width: 200px;
  height: 100px;
  background: red;
} */


/* CSS */
.WTFButton,
.WTFButton:after {
  margin:0 auto;
  display:block;
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(45deg, transparent 5%, rgb(96, 222, 226) 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px rgb(183, 142, 248);
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.WTFButton:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'FOOOOOD';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00d9f6 3%, #00d9f6 5%, rgb(183, 142, 248) 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00d9f6;
  clip-path: var(--slice-0);
}

.WTFButton:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .WTFButton,
  .WTFButton:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

.getLocationText{
  margin:0 auto;
  display:block;
  font-size: calc(10px + 2vmin);
}

.getDirections
{
  text-align: center;
  margin-bottom: 100px;
  font-size: calc(10px + 2vmin);
  transition: box-shadow .5s ease-in-out;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

