html, body { height: 100%; box-sizing: border-box;}
body {
  margin: 0;
  font-family: 'Miriam Libre', sans-serif;
  /* background-image: linear-gradient(rgb(176, 87, 228), rgb(101, 87, 228)); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://cyndivision.files.wordpress.com/2021/05/banana.gif");
  background-size: cover;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  border-radius: 25px;
  background-color: rgb(0, 0, 0);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
